 <!-- ======= Services Section ======= -->
 <section id="services" class="services section-bg ">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Products & Services</h2>
        <p>List of products and services provide by acharya development team.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="icofont-computer"></i>
            <h4><a href="javascript:void(0);">Website Development Services</a></h4>
            <p>Most elegant and attractive website design and programming are done by us.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <i class="icofont-stock-mobile"></i>
            <h4><a href="javascript:void(0);">Mobile Application</a></h4>
            <p>Most elegant mobile applications are done by us.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <i class="icofont-chart-bar-graph"></i>
            <h4><a href="javascript:void(0);">Analytics Application</a></h4>
            <p>Most effective and attractive Analytics applications are done by us.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <i class="icofont-dashboard-web"></i>
            <h4><a href="javascript:void(0);">dashboard-web</a></h4>
            <p>We can be developing any web application dashboard.</p>
          </div>
        </div>
        <div class="col-md-12 mt-4 mt-md-0">
          <div class="icon-box" style="text-align: center;" data-aos="fade-up" data-aos-delay="400">
            <i class="icofont-web"></i>
            <h4><a href="javascript:void(0);">Rest API Services</a></h4>
            <p>We developed the most secure and fast restful API using the latest application.</p>
          </div>
        </div>        
      </div>

    </div>
  </section><!-- End Services Section -->