<div class="blog-comments" *ngIf="blogComments">
    <h4 class="comments-count">{{blogComments.length}} comments</h4>

    <div id="comment-2" class="comment clearfix" *ngFor="let comment of blogComments">
      <img
        src="assets/img/blog/comments-2.jpg"
        class="comment-img float-left"
        alt=""
      />
      <h5>
        <a href="">{{comment?.name}}</a>
        <a class="reply"  (click)="open(mymodal,comment)"
          ><i class="icofont-reply"></i> Reply</a
        >
      </h5>
      <time datetime="2020-01-01">{{comment?.commentDate | date}}</time>
      <p>
       {{comment?.comment}}
      </p>

      <div id="comment-reply-1" class="comment comment-reply clearfix" *ngFor="let reply of comment?.subcomment" >
        <img
          src="assets/img/blog/comments-3.jpg"
          class="comment-img float-left"
          alt=""
        />
        <h5>
          <a href="">{{reply?.name}}</a>
          
        </h5>
        <time datetime="2020-01-01">{{reply?.commentDate | date}}</time>
        <p>
          {{reply?.comment}}
        </p>
        <!-- End comment reply #2-->
      </div>
      <!-- End comment reply #1-->
    </div>
    <!-- End comment #2-->
       
    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Leave a Reply</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="reply-form">
          <p>
            Your email address will not be published. Required fields are
            marked *
          </p>
          <form [formGroup] = "checkoutForm" (ngSubmit) = "onSubmit()" >


            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  name="name"
                  formControlName="name"
                  type="text"
                  class="form-control"
                  placeholder="Your Name*"
                />
              </div>
              <div class="col-md-6 form-group">
                <input
                  name="email"
                  formControlName="email"
                  type="text"
                  class="form-control"
                  placeholder="Your Email*"
                />
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <input
                  name="website"
                  formControlName="website"
                  type="text"
                  class="form-control"
                  placeholder="Your Website"
                />
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <textarea
                  name="comment"
                  formControlName="comment"
                  class="form-control"
                  placeholder="Your Comment*"
                ></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">
              Post Comment
            </button>
          </form>
        </div>
      </div>
    </ng-template>
    <app-leave-reply></app-leave-reply>
  </div>