<div class="blog-author clearfix">
    <img
    [src]="imgUrl + userdetails?.profilePicture"
      class="rounded-circle float-left"
      alt=""
    />
    <h4>{{userdetails?.name}}</h4>
    <div class="social-links">
      <a href="https://twitters.com/#"
        ><i class="icofont-twitter"></i
      ></a>
      <a href="https://facebook.com/#"
        ><i class="icofont-facebook"></i
      ></a>
      <a href="https://instagram.com/#"
        ><i class="icofont-instagram"></i
      ></a>
    </div>
    <p>
      {{userdetails?.desc}}
    </p>
  </div>