 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-12 d-flex align-items-center">
        <!-- <h1 class="logo mr-auto"><a href="index.html">Acharya Development<span>.</span></a></h1> -->
        <a routerLink="/" class="logo mr-auto"><img src="assets/img/mylogo.png" alt=""></a>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li (click)="toscroll('hero')"  routerLinkActive="active"><a routerLink="/">Home</a></li>
            <li (click)="toscroll('about')"  routerLinkActive="active"><a>About</a></li>
            <li (click)="toscroll('services')"  routerLinkActive="active"><a>Services</a></li>
            <li (click)="toscroll('portfolio')"  routerLinkActive="active"><a>Portfolio</a></li>
            <li (click)="toscroll('team')"  routerLinkActive="active"><a>Team</a></li>
            <!-- <li routerLinkActive="active"><a routerLink="blog">Blog</a></li> -->
            <li (click)="toscroll('contact')"  routerLinkActive="active"><a>Contact</a></li>
          </ul>
        </nav><!-- .nav-menu -->

        <!-- <a href="#about" class="get-started-btn scrollto">Get Started</a> -->
      </div>
    </div>

  </div>
</header><!-- End Header -->