<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Pricing</h2>
      <p>
        Join Over 2,000,000 Other Businesses Using Acharya Development
        Organization
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="box" data-aos="fade-up" data-aos-delay="100">
          <h3>Website Package</h3>
          <h4><sup>₹</sup>2999*<span> / Yearly</span></h4>
          <ul>
            <li>4-5 Pages</li>
            <li>2 Mail Id</li>
            <li>Responsive Design</li>
            <li>Domain Name .in</li>
            <li>One year maintenance</li>
            <li>Delivery with in 7 Days</li>
            <li>Static Page</li>
          </ul>
          <div class="btn-wrap">
            <a href="javascript:void(0);" (click)="open(mymodal, 'website')" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="box featured" data-aos="fade-up" data-aos-delay="200">
          <h3>E commerce</h3>
          <h4><sup>₹</sup>12999*<span> / Yearly</span></h4>
          <ul>
            <li>Unlimited Pages</li>
            <li>5 Business Mail Id</li>
            <li>Responsive Design</li>
            <li>Domain Name .in</li>
            <li>One year maintenance</li>
            <li>* Delivery with in 30-45 Days</li>
            <li>Social Promotion</li>
          </ul>
          <div class="btn-wrap">
            <a href="javascript:void(0);" (click)="open(mymodal, 'e-commerce')" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="300">
          <h3>Advance SEO</h3>
          <h4><sup>₹</sup>39999*<span> / Yearly</span></h4>
          <ul>
            <li>* Unlimited keywords</li>
            <li>Social Promotion</li>
            <li>One Month maintenance</li>
            <li>Social Media Marketing</li>
            <li>Search Engine Optimization</li>
            <li>Email Marketing</li>
            <li>Inbound Marketing</li>
          </ul>
          <div class="btn-wrap">
            <a href="javascript:void(0);" (click)="open(mymodal, 'seo')" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Pricing Section -->

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Send Your Requirement</h4>
    <button
      type="button"
      id="close_btn"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="reply-form">
      <form [formGroup] = "requirementForm" (ngSubmit) = "onSubmit()" class="php-email-form">
        <div class="row">
          <div class="col-md-6 form-group">
            <input
              name="name"
              formControlName="name"
              type="text"
              class="form-control"
              placeholder="Your Name*"
            />
          </div>
          <div class="col-md-6 form-group">
            <input
              name="email"
              formControlName="email"
              type="email"
              class="form-control"
              placeholder="Your Email*"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col form-group">
            <input
              name="Contact No."
              formControlName="contactno"
              type="text"
              class="form-control"
              placeholder="Your Contact No.*"
              required
            />
          </div>
        </div>       
        <button type="submit" [disabled]="!requirementForm.valid" class="btn btn-primary">Post Requirement</button>
      </form>
    </div>
  </div>
</ng-template>
